<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/ex.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/lightslider.css') }}">
    <script src="{{ url_for('static',filename='js/JQuery3.3.1.js') }}"></script>
    <script src="{{ url_for('static',filename='js/lightslider.js') }}"></script>
    <title>Movie Review System</title>
  </head>
  <body>
  <div class="navbar">
    <a href="{{ url_for('home')}}">Home</a>
  </div>


  <div class="showcase-container">
    <h1 class="showcasing">Popular</h1>
    <!----slider--section---->
    <ul id="autoWidth" class="cs-hidden">
        <!----box-1---->
        <li class="item-a">
            <div class="showcase-box">
                <img src={{top_movies_src[0]}}>
            </div>
        </li>
        <!----box-2---->
        <li class="item-b">
            <div class="showcase-box">
                <img src={{top_movies_src[1]}}>
            </div>
        </li>
        <!----box-3---->
        <li class="item-c">
            <div class="showcase-box">
                <img src={{top_movies_src[2]}}>
            </div>
        </li>
        <!----box-4---->
        <li class="item-d">
            <div class="showcase-box">
                <img src={{top_movies_src[3]}}>
            </div>
        </li>
        <!----box-5---->
        <li class="item-e">
            <div class="showcase-box">
                <img src={{top_movies_src[4]}}>
            </div>
        </li>
    </ul>
</div>



    <div class="container">
      <div class="row">
      <a href="{{ url_for('movie_page',movie_id=1) }}">
        <div class="col_box">
          <img src="../static/images/movie1.jpg">
          <h4>Iron Man (2008)</h4>
          <h6><b>Director: </b> Jon Favreau </h6>
          <h6><b>Writers: </b> Mark Fergus, Hawk Ostby </h6>
          <h6><b>Score: </b>
          {% for v in range(scores[0]) %}
          <span class="fa fa-star checked"></span>
          {% endfor %}
          {% for v in range(5-scores[0]) %}
          <span class="fa fa-star"></span>
          {% endfor %}</h6>
          </div>
          </a>
          <a href="{{ url_for('movie_page',movie_id=2) }}">
        <div class="col_box">
          <img src="../static/images/movie2.jpg">
          <h4>The Amazing Spider-Man</h4>
          <h6><b>Director: </b> Marc Webb </h6>
          <h6><b>Writers: </b> James Vanderbilt, Alvin Sargent </h6>
          <h6><b>Score: </b>{% for v in range(scores[1]) %}
          <span class="fa fa-star checked"></span>
          {% endfor %}
          {% for v in range(5-scores[1]) %}
          <span class="fa fa-star"></span>
          {% endfor %}</h6>
        </div>
        </a>
        <a href="{{ url_for('movie_page',movie_id=3) }}">
        <div class="col_box">
          <img src="../static/images/movie3.jpg">
          <h4>Star Wars: The Rise of Skywalker</h4>
          <h6><b>Director: </b>  J.J. Abrams </h6>
          <h6><b>Writers: </b>  Chris Terrio, J.J. Abrams </h6>
          <h6><b>Score: </b>{% for v in range(scores[2]) %}
          <span class="fa fa-star checked"></span>
          {% endfor %}
          {% for v in range(5-scores[2]) %}
          <span class="fa fa-star"></span>
          {% endfor %}</h6>
        </div>
        </a>
        <a href="{{ url_for('movie_page',movie_id=4) }}">
        <div class="col_box">
          <img src="../static/images/movie4.jpg">
          <h4>Avatar (2009)</h4>
          <h6><b>Director: </b>  James Cameron </h6>
          <h6><b>Writers: </b>  James Cameron </h6>
          <h6><b>Score: </b>{% for v in range(scores[3]) %}
          <span class="fa fa-star checked"></span>
          {% endfor %}
          {% for v in range(5-scores[3]) %}
          <span class="fa fa-star"></span>
          {% endfor %}</h6>
        </div>
        </a>
        <a href="{{ url_for('movie_page',movie_id=5) }}">
        <div class="col_box">
          <img src="../static/images/movie5.jpg">
          <h4>Godzilla (2014)</h4>
          <h6><b>Director: </b>   Gareth Edwards </h6>
          <h6><b>Writers: </b> Ishirô Honda, Takeo Murata </h6>
          <h6><b>Score: </b>{% for v in range(scores[4]) %}
          <span class="fa fa-star checked"></span>
          {% endfor %}
          {% for v in range(5-scores[4]) %}
          <span class="fa fa-star"></span>
          {% endfor %}</h6>
        </div>
        </a>
        <a href="{{ url_for('movie_page',movie_id=6) }}">
        <div class="col_box">
          <img src="../static/images/movie6.jpg">
          <h4>THOR (2011)</h4>
          <h6><b>Director: </b>  Kenneth Branagh </h6>
          <h6><b>Writers: </b>  Ashley Miller, Zack Stentz </h6>
          <h6><b>Score: </b>{% for v in range(scores[5]) %}
          <span class="fa fa-star checked"></span>
          {% endfor %}
          {% for v in range(5-scores[5]) %}
          <span class="fa fa-star"></span>
          {% endfor %}</h6>
        </div>
        </div>
        </a>
      </div>
      <div class="footer">
  <h3>Thank you for visiting</h3>
</div>
  </body>
  <script>
    $(document).ready(function() {
        $('#autoWidth').lightSlider({
            autoWidth: true,
            loop: true,
            onSliderLoad: function() {
                $('#autoWidth').removeClass('cS-hidden');
            }
        });
    });
</script>
</html>