<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style2.css') }}">

    <title>Information page</title>
  </head>
  <body>
  <div class="navbar">
        <a href="{{ url_for('home')}}">Home</a>
      </div>
    <div class="main-class">
      <img src="{{ url_for('static', filename=movie_data.image) }}">
      <h1>{{movie_data.name}}</h1>
      <p>{{movie_data.description}}<br>
        <b>Director:</b>{{movie_data.director}} <br>
        <b>Stars:</b>{{movie_data.actors}}<br></p>
        <div class="form-1" >
          <form action="{{ url_for('sentiment_analysis',movie_id=movie_data.id)}}" method="POST">
            <label for="nm"><h4>Comments</h4></label>
            <input type="text" name="review" id="mytext" placeholder="Please enter your comments here">
            <button type="submit" name="button" class="btn btn-warning">Submit</button>
          </form>
        </div>
        <div class="comments overflow-auto">
          {% for val in reviews %}
                  {% if val["review_status"] == 0 %}
                    <div class="data" style="color:red">&#x1F641;    {{val["comment"]}}</div>
                  {% else %}
                    <div class="data" style="color:green">&#x1F603;  {{val["comment"]}}</div>
                  {% endif %}
            {% endfor %}
        </div>
    </div>
  </body>
</html>